//Main header styles

.mainMenu {
    background-color: rgba(39, 37, 63, 0.75);
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    position: fixed;
    z-index: 10;

        a {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 4.4px;
            text-transform: uppercase;
            transition: $transition;
            
            &:hover {
                border-bottom: 2px solid $purple-5;
                color: $purple-5;
            }
        }
}