//Styles for all site, in all pages
body {
	background-color: $purple-10;
	color: $white;
	font-family: $font-open;
	font-weight: 300;
	font-size: 18px;
	overflow-x: hidden;
}

.button {
	&--download {
		background-color: $purple-5;
		border-radius: 3px;
		font-family: $font-open;
		font-size: 12px;
		font-weight: 400;
		padding: 10px;
		position: relative;
		text-transform: uppercase;
		width: 250px;
		@include hover-opacity();

		strong {
			font-size: 26px;
			font-weight: 700;
			text-transform: lowercase;
		}

		&:before {
			content: '';
			background-image: url('img/apple.png');
			height: 25px;
			position: absolute;
			right: 10px;
			top: calc(50% - 25px/2);
			width: 21px;
			@include background-cover;
		}
	}

	&--mobile {
		display: none;
	}
}

.infoBar {
	color: $purple-13;

	p {
		font-size: 14px;
		font-weight: 400;
		margin-top: 35px;
		
	}

	&__top,
	.productInfos {
		padding: 0 30px;
	}

	&__top {
		background-color: $purple-2;
		border-radius: 3px 3px 0 0;
		padding-top: 40px;

		span {
			font-size: 30px;
			font-family: $font-fjalla;
		}
	}

	.productInfos {
		align-items: center;
		background-color: $white;
		border-bottom: 1px solid $purple-1;
		display: flex;

		.numberInfo {
			display: flex;
			flex-direction: column;
			margin-right: 30px;
			padding: 25px 0;

			&__title {
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				text-transform: uppercase;
			}

			&__value {
				font-family: $font-fjalla;
				font-size: 24px;
				font-weight: 400;
				line-height: 28px;
			}
		}
		
	}
}

.icon-arrow {
	height: 19px;
	width: 23px;
}

@media (max-width: 960px) {
	.d-flex {
		flex-direction: column;
	}
}