// -- Section Resume
.section--resume {
    background-color: $white;
    border-radius: 3px;
    color: $gray-1;
    position: relative;

    &:before {
        content: '';
        background-image: url(img/lines.svg);
        background-repeat: repeat-x;
        height: 406px;
        left: -40%;
        position: absolute;
        top: 0;
        width: 200%;
        z-index: -1;
    }

    .resume {
        &--featuredList {
            border-bottom: 1px solid $purple-1;
            padding: 45px 0;

            .listItem {
                border-right: 1px solid $purple-1;
                padding: 0 20px;

                &:last-child {
                    border: 0;
                }

                img {
                    align-self: flex-start;
                    height: auto;
                    margin-left: 35px;
                    width: 50px;
                }

                p {
                    margin: 0 20px;
                }
            }
        }

        &__textArea {
            padding: 50px 50px 10px;
        }

        &__text {
            flex: 1.5;
        }

        &__title {
            flex: 1;
            font-weight: 400;
            color: $purple-10;
            text-align: right;
        }
    }
}