@mixin transition($time: 0.35s) {
	transition: $time;
}

@mixin background-cover() {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@mixin hover-opacity($opacity: 0.5) {
	@include transition();
	&:hover {
    cursor: pointer;
		opacity: $opacity;
	}
}

//===== * * Media queries for responsive properties inside classes * * =====
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}