*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;	box-sizing: border-box; }
.clearfix:before, .clearfix:after {	content: " ";	display: table; }
.clearfix:after {	clear: both; }
* {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
nav, header, footer, article, section, figure, figcaption {
  display: block;
  margin: 0;
}
figure, figcaption, img {
  line-height: 0;
}
img, input, object, embed {
  max-width:100%;
  border: 0;
  margin: 0;
}
input, textarea {
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}
button {
  outline: 0;
}
a, a:hover, a:focus {
  outline: none;
  text-decoration: none;
}
::-moz-selection,::selection {
  background-color: #39309e;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
main {
  padding-top: 125px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}